.login-errors {
    font-size: small;
    color: red;
    font-weight: 700;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-trigger:hover + .tooltip {
    visibility: visible;
    opacity: 1.0;
}